/* 共通のCSS */
*{
 box-sizing: border-box;
}

body {
 margin: 0px;
 font-family: "Avenir Next";
}

a {
 text-decoration: none;
}

li{
/* リストのマークを無くす */
  list-style: none;
}

.clear {
 clear: left;
}

.container {
 max-width: 1170px; 
 width: 100%;
 padding: 0 15px;
 margin: 0 auto;
}

.linkBtn{
 padding: 10px 25px;
 color: #fff;
 display: inline-block;
 opacity: 0.8;
 border-radius: 5px;
}

.linkBtn:hover{
 opacity: 1;
}

.twitter{
 background-color: #55acee;
}

.facebook {
 background-color: #3b5998;
}

.menu-icon {
 color: #fff;
 float: right;
 font-size: 25px;
 padding: 20px 0;
 display: none;
}

.fa {
 margin-right: 5px;
}



/* ヘッダーのCSS */
header{
  background-color: #f0f0f0;
  height: 80px;
/* ヘッダーを一番上に重ねる */
  position: relative;
  top: 0;
  z-index: 11;
}

.header-logo{
  font-size: 35px;
  float: left;
  padding: 20px 40px;
}

.header-list li{
  float: left;
  padding: 30px 20px;
}

.header-list a{
  color: #222;
}



/* divヘッダーのCSS */
.header {
 margin-top: 0;
 height: 65px;
 width: 100%;
 background: rgba(35, 50, 50, 0.8);
/* divヘッダーを一番上に固定 */
 position: fixed;
 top: 0;
 z-index: 10;
}

.copy-container-left {
 float: left;
}

.copy-container-left h1{
 width: 125px;
 margin-top: 20px;
}

.copy-container-right {
 float: right;
 margin-right: 0px;
 background-color: rgba(255, 255, 255, 0.3);
}

.copy-container-right a{
 line-height: 65px;
 padding: 0 25px;
 color: #fff;
 display: block;
 float: left;
 transition: all 0.5s;
}

.copy-container-right a:hover {
 background-color: rgba(255, 255, 255, 0.5);
}


/* メインのCSS */
.main{
}


/* トップのCSS */

.top-wrapper{
  padding-top: 180px;
  padding-bottom: 100px;
  background-image: url(/images/background-img1.png);
  background-size: cover;
  color: #fff;
  text-align: center;
/* トップを一番上から三番目に重ねる */
  position: relative;
  top: 0px;
  z-index: 9;
}

.top-container{
  max-width: 1170px; 
  width: 100%;
  padding-right: 0 15px;
  margin: 0 auto;
}

.top-wrapper h1{
 opacity: 0.9;
 font-size: 45px;
 letter-spacing: 3px;
}

.top-wrapper p{
 opacity: 0.8;
}

/* 

.linkBtn{
 padding: 10px 25px;
 color: #fff;
 display: inline-block;
 opacity: 0.8;
 border-radius: 5px;
}

.linkBtn:hover{
 opacity: 1;
}

*/

.top-linkBtns {
 text-align: center;
 margin: 20px 0 ;
}


/* 一覧のCSS */
.index-wrapper {
 padding-bottom: 80px;
 background-color: #ddd;
 text-align: center;
}

.index-container {
  max-width: 1170px; 
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.index-title {
 padding-top: 60px;
 padding-bottom: 30px;
 color: #555;
}

.index-title h1 {
 font-weight: normal;
}

.index-element {
 float: left;
 width: 25%;
}

.element-icon {
 position: relative;
}

.element-icon img {
 width: 200px;
 height: 200px;
 border-radius: 10px;
}

.element-icon p{
 position: absolute;
 top: 90px;
 width: 100%;
 color: #fff;
}

.element-txt-contents {
 width: 80%;
 display: inline-block;
 margin: 20px;
 font-size: 12px;
 color: #777;
}




/* メッセージのCSS */
.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message-container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.txt-message {
  font-size: 40px;
}

.message-btn {
  background-color: #888;
  padding: 15px 40px;
  cursor: pointer;
  box-shadow: 0 5px #555;
}

/* ボタンを押しているように見せる仕掛け */
.message-btn:active {
  box-shadow: none;
  position: relative;
  top: 5px;
}

/* 
.linkBtn{
 padding: 10px 25px;
 color: #fff;
 display: inline-block;
 opacity: 0.8;
 border-radius: 5px;
 text-align: center;
}

.linkBtn:hover{
 opacity: 1;
}
 */




/* お問い合わせのCSS */
.contact-form {
  padding: 20px 40px;
}

input, textarea{
 width: 50%;
 margin-top: 10px;
 margin-bottom: 30px;
 padding: 20px;
 font-size: 20px;
 border: 2px solid #eee;
}

.contact-submit {
 background-color: #eee;
 color: #777;
}



/* divフッター */
.footer {
  padding: 20px 10px;
/* divフッターを一番下に固定 */
  position: fixed;
  bottom: 0;
  z-index: 8;
}

.footer-container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.footer img {
  width: 120px;
  height: 60px;
  border-radius: 5px;
}

.footer p {
  font-size: 15px;
}


/* フッターのCCS */
footer{
  background-color: #222;
  color: #fff;
  height: 200px;
  padding: 40px;
/* フッターを一番上に重ねる */
  position: relative;
  bottom: 0;
  z-index: 11;
}

.footer-logo{
  font-size: 30px;
  float: left;
}

.footer-list{
  float: right;
}

.footer-list li{
  padding-bottom: 20px;
}

.footer-list a{
  color: #fff;
}
